.Login--Wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.Login--Text--Box {
    display: flex;
    flex-direction: column;

    margin-top : 37px;
    margin-left : 20px;
    margin-bottom: auto;
}

.Login--Text--Item {
    color: var(--P1, #046649);
    font-family: Pretendard;
    font-size: 36px;
    font-weight: 700;
    line-height: 140%;
}

.Login--Social--Icons {
    display: flex;
    flex-direction: row;

    width: 100%;
    
    align-items: center;
    justify-content: center;

    gap : 6%;

    margin-top : auto;
}

.Login--Social--Bottoms {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom : 42px;
    margin-left : 20px;

    color: var(--500, #BDBDBD);
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 600;

    justify-content: center;
}