.Login--Wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100vh;
}

.Login--Textbox {
    display: flex;
    flex-direction: column;

    margin-top : 24px;
    margin-left : 16px;
    margin-bottom: auto;

    gap : 5px;

    color: var(--kakao-logo, #000);
    font-family: Pretendard;

    .text--big {
        font-size: 32px;
        font-weight: 700;
    }

    .text--small {
        font-size: 22px;
        font-weight: 400;
    }
}

.Login--Formbox {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;

    margin-top : auto;
    margin-bottom : auto;
    gap: 10px;
}

.Login--Formbox--Input {
    display: flex;
    width: 310px;
    height: 32px;
    padding: 8px 16px;
    border: 0.5px solid var(--kakao-logo, #000);
    border-radius: 8px;
}

.Login--Formbox--Btn {
    display: flex;
    width: 310px;
    height: 32px;

    background: var(--700, #4F4F4F);
    padding: 8px 16px;

    align-items: center;
    justify-content: center;

    color: #FFF;
    font-family: Pretendard;
    font-size: 14px;

    border-radius: 8px;
}

.Login--Social--Bar {
    display: flex;
    flex-direction: row;

    width: 100%;

    margin : auto 0 19px 0;
}

.Login--Social--Bar--hr {
    width: 134px;
    height: 0px;
    stroke-width: 0.5px;
    stroke: var(--500, #BDBDBD);
}

.Login--Social--Bar--Text {
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: var(--500, var(--500, #BDBDBD));
    font-family: Pretendard;
    font-size: 12px;
}

.Login--Social--Icons {
    display: flex;
    flex-direction: row;

    width: 100%;
    
    align-items: center;
    justify-content: center;

    gap : 13px;

    margin-bottom: auto;
}

.Login--Social--Bottoms {
    display: flex;
    flex-direction: row;

    width: 100%;
    margin-top: auto;
    margin-bottom : 13px;

    gap : 13px;

    color: var(--500, #BDBDBD);
    font-family: Pretendard;
    font-size: 12px;
    font-weight: 600;

    align-items: center;
    justify-content: center;
}